html {zoom: 90%;}


body { 
    background-color:rgb(68, 4, 4);
}


.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 30px;
    transition: height 3s, transform 3s;
    height: 50px;
    
  }
  
  .topnav a {
    transition-timing-function: ease;
  } 
  
  .topnav a:hover {
    background-color: rgb(219, 92, 92);
    color: black;
    height: 150px;
    transform: rotate(360deg) ;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #f31a1a;
    color: white;
  }

#logo {
  width: 120px;
  transition: width 2s;
}

#logo:hover {
  width: 200px;
  
}

#subscriptionsNumber {
  font-size: 24px;
} 

#title {
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.main_container {
  margin-top: 60px;
  border-radius: 20px;
  border-style: groove;
  border-width: 15px;
  padding: 40px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bolder;
  background-color: red;
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: 100;

}
  
  @keyframes example {
    from {background-color: red;}
    0% {background-color: rgb(255, 17, 0);}
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: rgb(62, 128, 0);}
    80% {background-color: rgb(0, 132, 255);}
    95%{background-color: rgb(107, 0, 128);}
    100%{background-color: red;}
}

.user_input{
  display: flex;
  flex-direction: column;
}

#subscriptionContainer1{
  display:flex;
  flex-direction:row;

}


.center{
  
  display: flex;
  justify-content:center;
  align-items: center;
}
#subscriptionContainer1 {
  padding:20px;
}

#subscriptionContainer2 {
  padding:20px;
}

#subscriptionContainer3 {
  padding:20px;
}

#subscriptionContainer4 {
  padding:20px;
}

#subscriptionContainer5 {
  padding:20px;
}

#subscriptionContainer6 {
  padding:20px;
}

#subscriptionContainer7 {
  padding:20px;
}

#subscriptionContainer8 {
  padding:20px;
}

#subscriptionContainer9 {
  padding:20px;
}

#subscriptionContainer10 {
  padding:20px;
}

.subscriptions{
  width: 100px;
  height:20px;
  margin: 13px;

}

.statusChoice{
  height:20px;
  margin: 13px;
}

#submitButton{
  width: 100px;
  background-color: rgb(83, 80, 80);
  color: white;
  font-size: 12px;
  padding:4px 30px;
  text-decoration: none;
}

label{
  color:white
}