body { 
    background-color:rgb(68, 4, 4);
}


.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 30px;
    transition: height 3s, transform 3s;
    height: 50px;
    
  }
  
  .topnav a {
    transition-timing-function: ease;
  } 
  
  .topnav a:hover {
    background-color: rgb(219, 92, 92);
    color: black;
    height: 150px;
    transform: rotate(360deg) ;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #f31a1a;
    color: white;
  }

#logo {
  width: 120px;
  transition: width 2s;
}

#logo:hover {
  width: 200px;
  
}