html {
  zoom: 75%;
}

body {
  background-color: rgb(68, 4, 4);
}

.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.topnav a.active {
  background-color: #f31a1a;
  color: white;
}

#logo {
  width: 200px;
}

#costHeading {
  color: white;
  display: flex;
  justify-content: center;
}

.bills {
  color: white;
  border: 5px solid black;
}

.question p {
  color: white;
}

#box1 {
  display: flex;
  justify-content: center;
}

.box1content {
  width: 400px;
  height: 200px;
  border: 1px solid #999;
  font-size: 30px;
  color: rgba(209, 34, 63, 0.781);
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
  font-family: 'sans-serif';
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
  padding: 20px;
}

.box2 {
  width: 300px;
  height: 200px;
  border: 1px solid #999;
  font-size: 25px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 10px 10px #ccc;
  margin: 0px 10px
}

.boxTitles {
  text-align: center;
}

select {
  width: 50px;
  font-size: 20px;
}

.dropboxes {
  margin: 20px 40px;
}

ol {
  padding-left: 350px;
}

span {
  padding-left: 700px;
}

#button {
  width: 100px;
  background-color: rgb(83, 80, 80);
  color: white;
  font-size: 30px;
  float: right;
  margin-right: 80px;
  margin-bottom: 20px;
}

input {
  width: 40px;
  height: 20px;
  margin-left: 20px;
}